<div>
    <h1>Employess</h1>
</div>
    <table class='table table-bordered' *ngIf="employess">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>ContractTypeName</th>
                <th>RoleName</th>
                <th>RoleDescription</th>
                <th>Salary</th>
                <th>AnnualSalary</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let employe of employess">
                <td>{{ employe.id }}</td>
                <td>{{ employe.name }}</td>
                <td>{{ employe.contractTypeName }}</td>
                <td>{{ employe.roleName }}</td>
                <td>{{ employe.roleDescription }}</td>
                <td>{{ employe.salary }}</td>
                <td>{{ employe.annualSalary }}</td>
            </tr>
        </tbody>
    </table>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="form-group">
                <input type="number" class="form-control" [(ngModel)]="employe.idEmploye">
            </div>
            <div class="form-group">
                <button class="btn btn-primary form-control" (click)="getEmployess()">Get employess</button>
            </div>
        </div>
        </div>


